
 body{
 background-color: white;
 color: black;
 }
 
 .Navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

 }
 
 a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
 }

 a:hover{
  background-color: #d8d8d848;
  }
  


  
  .LoginForm{
          height: 100%;
          margin: 0px auto;
          padding: 20px;
          text-align: center;
          border: 1px solid #ddd;
          justify-content: center;
          align-items: center;
          width: 300px;
      }
  
      .LoginForm label{
          font-size: 20px;
          text-align: center;
          display: block;
         
      }
   .LoginForm input{
        font-size: 20px;
        width: 100%;
        padding: 6px 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        box-sizing: border-box;
        display: block;
      }

      .LoginForm button{
        box-shadow: 3px 2px 0px 0px #899599;
	      background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	      background-color:#ededed;
	      border-radius:14px;
	      border:3px solid #d6bcd6;
	      display:inline-block;
	      cursor:pointer;
	      color:#3a8a9e;
	      font-family:Arial;
  	    font-size:20px;
	      padding:18px 41px;
	      text-decoration:none;
	      text-shadow:0px 0px 0px #e1e2ed;
        padding: 5px;
        margin: 5px;
      }

      .LoginForm button:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
      }
      .LoginForm button:active {
        position:relative;
        top:1px;
      }
      
      

 

      